<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
    
  <!-- Libraries CSS Files -->
  <!--
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
  
  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">股市大進擊</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#wordcloud">Word Cloud</a></li>
	  <li><a href="#ETF">ETF</a></li>
	  <li><a href="#TEXT">NLP</a></li>
      <!--<li><a href="#about">About Us</a></li>-->
      <!--<li><a href="#services">Services</a></li>-->
	  <li><a href="#skills">使用工具</a></li>
	  <li><a href="#facts">資料收集</a></li>
          <li><a href="#portfolio">工具軟體</a></li>
      <!--<li><a href="#team">Team</a></li>-->
          <li><a href="#testimonials">專題團隊</a></li>
          <li class="menu-has-children"><a href="">外部聯結</a>
            <ul>
              <li><a href="http://www.stockq.org/tv/58unique.php">非凡財經新聞</a></li>
              <li><a href="https://www.moneydj.com/">Money DJ</a></li>
              <li><a href="https://statementdog.com/">財報狗</a></li>
              <li><a href="https://www.stockdog.com.tw/stockdog/index.php?m=home">股狗網</a></li>
            </ul>
          </li>
          <li><a href="#contact">資策會</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url_for('static', filename='img/intro-carousel/1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Word Cloud</h2>
                <p>文字雲是關鍵詞的視覺化描述，用於匯總用戶生成的標籤或一個網站的文字內容。標籤一般是獨立的詞彙，常常按字母順序排列，其重要程度又能通過改變字體大小或顏色來表現，所以標籤雲可以靈活地依照字序或熱門程度來檢索一個標籤。大多數標籤本身就是超級連結，直接指向與標籤相聯的一系列條目。</p>
                <a href="#wordcloud" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url_for('static', filename=('img/intro-carousel/2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ETF</h2>
                <p>交易所交易基金、交易所買賣基金（英語：Exchange Traded Funds，常常縮寫為ETF，臺譯指數型證券投資信託基金），是一種在證券交易所交易，提供投資人參與指數表現的指數基金。</p>
                <a href="#ETF" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url_for('static', filename=('img/intro-carousel/3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>NLP</h2>
                <p>自然語言處理（英语：natural language processing，縮寫NLP）是人工智慧和語言學領域的分支學科。 此領域探討如何處理及運用自然語言；自然語言認知則是指讓電腦「懂」人類的語言。</p>
                <a href="#TEXT" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <!--<div class="carousel-item" style="background-image: url_for('static', filename=('img/intro-carousel/4.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nam libero tempore</h2>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url_for('static', filename=('img/intro-carousel/5.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Magnam aliquam quaerat</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>-->

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <!--<section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      func1:wordcloud Section
    ============================-->
    <section id="wordcloud">
        <input type="button" value="Generate Word Cloud" onClick="window.location.reload()">
        <a href="/show_wc">Generate Word Cloud</a>
        <img src="{{ url_for('static', filename='wc.png') }}">
    </section>
      

      
      
    <!--==========================
      func2:ETF
    ============================-->
     
	<section id="ETF">
	<div class="container">

        <header class="section-header">
          <h3>ETF</h3>
	</header>
	<div class="row">
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<form method="POST">
			<select name="pid">
			
			{% for id in ID %}
				<option>{{ id.id }}</option>
			{% endfor %}
				<option value=1>1</option>
				<option value=2>2</option>
				<option value="50">50</option>
				<option value="51">51</option>
				<option value="52">52</option>
			
			</select>
			<select name="pname" id="pname">
				
				<option value="justin">justin</option>
				<option value="Mary">Mary</option>
			</select>
			<select name="pname">
			{% for name in NAME %}
				<option>{{ name.name }}</option>
			{% endfor %}
			</select>
			
			<input type="submit" value="Search">
			<br>
		</form>-->

		<!--{% if the_two %}
			<div class="table-responsive">
			<table class="table table-dark">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Age</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      {% for r in the_two %}
			      <td>{{r.id}}</td>
			      <td>{{r.name}}</td>
			      <td>{{r.age}}</td>
			      <div><img src="{{ url_for('static', filename=r.image) }}" class="rounded mx-auto d-block" alt="Responsive image"></div>
			      {% endfor %}	
			    </tr>
			  </tbody>
			</table>
		{% endif %}
		<br>-->

		<form method="POST">
			<select name="eid">
			{% for e in EID %}
				<option>{{ e.Stockcode }}</option>
			{% endfor %}
			</select>
			<select name="method">
			{% for m in METHOD_NAME %}
				<option>{{ m.Method }}</option>
			{% endfor %}
			</select>
			<input type="submit" value="送出" id="btn" onClick="window.location.reload()">
		</form>

		{% if result %}
		<table class="table">
  			<thead class="thead-light">
				<tr>
					<th scope="col">Stockcode</th>
					<th scope="col">Method</th>
					<th scope="col">Fitnessvalue_withoutGA</th>
					<th scope="col">Fitnessvalue_withGA</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				{% for r in result %}
				<td>{{ r.Stockcode }}</td>
				<td>{{ r.Method }}</td>
				<td>{{ r.Fitnessvalue_withoutGA }}</td>
				<td>{{ r.Fitnessvalue_withGA }}</td>
				</tr>
			</tbody>
			<thead class="thead-light">
				<tr>
					<th scope="col">Picture_withGA</th>
					<th scope="col">GA_picture</th>
				</tr>
			</thead>
			<tboby>
				<tr>
				<td><img src="{{ url_for('static', filename=r.Picture_withGA) }}" class="rounded mx-auto d-block" alt="Responsive image"></td>
				<td><img src="{{ url_for('static', filename=r.GA_picture) }}" class="rounded mx-auto d-block" alt="None"></td>
				{% endfor %}
				</tr>
			</tbody>
		</table>
		{% endif %}
		<br>

	</div>
	</div>
	</section> 

    <!--==========================
      func3:TEXT
    ============================-->
    <section id="TEXT">
        <div class="container">

        <header class="section-header">
            <h3>NLP</h3>
        </header>
        <div class="row">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <form method="POST">
        <select name="tid">
        {% for t in TID %}
        	<option>{{ t.title }}</option>
        {% endfor %}
        </select>
		<input type="submit" value="送出" onClick="window.location.reload()">
	</form>
	{% if the_one %}
	<div class="table-responsive">
		<table class="table table-dark">
		  <thead>
		    <tr>
		      <th scope="col">TITLE</th>
		      <th scope="col">URL</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>{{the_one.title}}</td>
		      <td>{{the_one.url}}</td>
		      <div><img src="{{ url_for('static', filename=the_one.picture) }}" class="rounded mx-auto d-block" alt="Responsive image"></div>
		    </tr>
		  </tbody>
		</table>
	{% endif %}
        </section>


    <!--==========================
      About Us Section
    ============================-->
    <!--<section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about-mission.jpg') }}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about-plan.jpg') }}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about-vision.jpg') }}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <!--<section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <!--<section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>使用的工具軟體</h3>
          <p>下列為本次專題所使用到的工具軟體</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Python <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">ETL <i class="val">95%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">AWS <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">MySQL <i class="val">85%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Data Miningg <i class="val">80%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Linux <i class="val">75%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Flask <i class="val">55%</i></span>
            </div>
          </div>
          
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Docker <i class="val">40%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Java <i class="val">20%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Kafka <i class="val">20%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>資料收集</h3>
          <p>下列為資料來源</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">86,880</span>
            <p>PTT</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">408,745</span>
            <p>新聞財經板</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,051,923</span>
            <p>證交所</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">519,258</span>
            <p>期交所</p>
  				</div>

  			</div>

        <!--<div class="facts-img">
          <img src="{{ url_for('static', filename='img/facts-img.png') }}" alt="" class="img-fluid">
        </div>-->

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/app1.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/app1.jpg') }}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/web3.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/web3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/app2.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/app2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/card2.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/card2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/web2.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/web2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/app3.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/app3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/card1.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/card1.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/card3.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/card3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{{ url_for('static', filename='img/portfolio/web1.jpg') }}" class="img-fluid" alt="">
                <a href="{{ url_for('static', filename='img/portfolio/web1.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <!--<section id="clients" class="wow fadeInUp">
      <div class="container">-->

        <!--<header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/chang.jpg') }}" class="testimonial-img" alt="">
            <h3>鄭超元</h3>
            <h4>PM</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Establish direction, goals for each phase/stage of the product development.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/Pyros.jpg') }}" class="testimonial-img" alt="">
            <h3>黎詠哲</h3>
            <h4>CTO</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Manages and leads a program involving one or more functions and project teams to drive the engineering development and implementation process for a subsystem.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
            
          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/Allen.jpg') }}" class="testimonial-img" alt="">
            <h3>Allen Lee</h3>
            <h4>CPDA</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Be involved in various phases of software development including requirements analysis, application design, and development and testing.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
            
          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/Liu.jpg') }}" class="testimonial-img" alt="">
            <h3>劉堰丞</h3>
            <h4>CPDA</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Work on Natural Language (NLP) component for analytics application to allow interpretation of free form statements.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
            
          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/roger.jpg') }}" class="testimonial-img" alt="">
            <h3>Roger Lo</h3>
            <h4>Translator</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Will be working closely with the product development team on ensuring all translated material are accurate.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
            
          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/Austin.jpg') }}" class="testimonial-img" alt="">
            <h3>Austin Lu</h3>
            <h4>Front-End Engineer</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Specialize in building responsive and elegant web UI using cutting edge technologies, leveraging basic skills in JavaScript, HTML5, CSS, Flask.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
            
          <div class="testimonial-item">
            <img src="{{ url_for('static', filename='img/Edison.jpg') }}" class="testimonial-img" alt="">
            <h3>周奇民</h3>
            <h4>Web-Crawler Engineer</h4>
            <p>
              <img src="{{ url_for('static', filename='img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
              Data Stage, Informatica, or SSIS ETL experience. Familiar with SQL language.
              <img src="{{ url_for('static', filename='img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
            </p>
          </div>
          

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <!--<section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>-->

        <!--<div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-1.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-2.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-3.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-4.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

        <!--</div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>資策會</h3>
          <p>資策會數位教育研究所國際人才發展中心位於國立中央大學校區內，於 1984 年成立，已三十餘年，其成立宗旨以辦理資訊人才推廣與資訊軟體研究發展為主；資訊人才推廣係與中央大學合作，並秉持資策會優良的傳統，加上在地用心經營，國際人才發展中心已成為北台灣地區資訊人才培訓的重要據點。2016年起，與緯創集團緯育公司策略聯盟，持續深化「就業、增能」學習服務，促進人才的匯集與再造，開啟雲端教育新的里程碑。</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>320桃園市中壢區中大路300號</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+886034257387">+886 03 425 7387</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:frank_fh_hsu@wiedu.com">frank_fh_hsu@wiedu.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Big Data</h3>
            <p>Big data，又称为巨量资料，指的是傳統數據處理應用軟件不足以處理它們的大或複雜的數據集的術語。大數據也可以定義為來自各種來源的大量非結構化和結構化數據。從學術角度而言，大數據的出現促成了廣泛主題的新穎研究。這也導致了各種大數據統計方法的發展。大數據並沒有抽樣;它只是觀察和追踪發生的事情。因此，大數據通常包含的數據大小超出了傳統軟件在可接受的時間內處理的能力。由於近期的技術進步，發布新數據的便捷性以及全球大多數政府對高透明度的要求，大數據分析在現代研究中越來越突出。</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#testimonials">About Us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#wordcloud">Word Cloud</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#ETF">ETF</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#TEXT">TEXT</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>資策會</h4>
            <p>
               320桃園市中壢區中大路300號 <br>
              <strong>Phone:</strong> +886 03 425 7387<br>
              <strong>Email:</strong> frank_fh_hsu@wiedu.com<br>
            </p>

            <!--<div class="social-links">
              <<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>-->

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Best <a href="">Bootstrap Templates</a> by BootstrapMade
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <!-- <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script> -->
    
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->
  <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>
  <!-- Template Main Javascript File -->
  <!-- <script src="js/main.js"></script> -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
